.about__wrapper {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 45px 0;
    text-align: center;
  }
}

.about__text-wrapper {
  padding: 0 15px 32px;

  @media (min-width: $tablet-width) {
    width: 490px;
    margin: 0 auto 32px;
    padding: 0;
  }
}

.about__title {
  @include secondary-font;

  margin: 0 0 12px;
  font-size: 32px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
    font-size: 42px;
    line-height: 42px;
  }
}

.about__subtitle {
  @include primary-400;

  margin: 0 0 32px;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.about__description p {
  margin: 4px 0;
}

.about__photo {
  position: relative;
  margin: 0 0 36px;

  @media (min-width: $tablet-width) {
    margin: 0 0 -50px;
  }
}

.about__photo img {
  display: block;
}

.about__video {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    bottom: 37px;
    transform: translateX(-50%);
  }
}
