.about__wrapper {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 45px 0;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 355px 1fr;
    padding: 120px 103px 10px;
    text-align: left;
  }
}

.about__text-wrapper {
  padding: 0 15px 32px;

  @media (min-width: $tablet-width) {
    width: 490px;
    margin: 0 auto 32px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    width: 355px;
    margin: 0;
  }
}

.about__title {
  @include secondary-font;

  margin: 0 0 12px;
  font-size: 32px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 25px;
    font-size: 54px;
    line-height: 54px;
  }
}

.about__subtitle {
  @include primary-400;

  margin: 0 0 32px;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 91px;
    font-size: 22px;
    line-height: 22px;
  }
}

.about__description p {
  margin: 0;
  padding: 4px 0;
}

.about__additional-description {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.about__photo {
  position: relative;
  margin: 0 0 36px;

  @media (min-width: $tablet-width) {
    margin: 0 0 -50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    margin: 0 0 0 145px;
  }
}

.about__photo img {
  display: block;
}

.about__video {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    bottom: 37px;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    top: -115px;
    left: 225px;
  }
}
