.card {
  min-height: 384px;
  padding: 50px 42px;
  background-color: $bg-base;
  transition: border 0.4s ease;

  @media (min-width: $tablet-width) {
    min-height: 460px;
    padding: 58px;
    border: 7px solid transparent;

    &:hover,
    &:focus-visible {
      border: 7px solid transparent;
      border-image: $button-gradient;
      border-image-slice: 1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    min-height: 447px;
  }
}

.card__title {
  margin: 0 0 18px;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    margin: 0 0 22px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 17px;
    font-size: 26px;
    line-height: 26px;
  }
}

.card__data {
  margin: 0 0 18px;

  @media (min-width: $tablet-width) {
    margin: 0 0 22px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 17px;
  }
}

.card__price {
  @include primary-700;

  position: relative;
  display: block;
  margin: 0 auto 18px;
  font-size: 80px;
  line-height: 150%;
  color: rgba(232, 232, 232, 0.48);

  @media (min-width: $tablet-width) {
    margin: 0 auto 22px;
    font-size: 100px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 17px;
  }
}

.card__price::before {
  @include primary-700;

  position: absolute;
  top: 49px;
  left: 38px;
  content: attr(data-price);
  font-size: 48px;
  line-height: 150%;
  color: $color-secondary;

  @media (min-width: $tablet-width) {
    top: 60px;
    left: 42px;
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    left: 32px;
  }
}

.card svg {
  position: absolute;
  top: 69px;
  right: 37px;

  @media (min-width: $tablet-width) {
    top: 84px;
    right: 42px;
    width: 30px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    right: 32px;
  }
}

.tabs__card-list[data-period="6"] .card,
.tabs__card-list[data-period="12"] .card {
  padding: 50px 20px;

  @media (min-width: $tablet-width) {
    padding: 58px 20px;
  }
}

.tabs__card-list[data-period="6"] .card__price::before,
.tabs__card-list[data-period="12"] .card__price::before {
  @media (min-width: $tablet-width) {
    left: 60px;
  }

  @media (min-width: $desktop-width) {
    left: 50px;
  }
}

.tabs__card-list[data-period="6"] .card svg,
.tabs__card-list[data-period="12"] .card svg {
  right: 45px;

  @media (min-width: $tablet-width) {
    right: 57px;
  }

  @media (min-width: $desktop-width) {
    right: 47px;
  }
}

.card__button {
  width: 206px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}
