.faq {
  background-color: $bg-secondary;
}

.faq__wrapper {
  padding: 70px 15px;
}

.faq__title {
  @include secondary-font;

  margin: 0 0 35px;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}

.faq__tab-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 35px;
}

.faq__accordion-list {
  @include reset-list;
}

.faq__accordion-item {
  border-top: 1px solid #74819c;
}

.faq__accordion-item:last-child {
  border-bottom: 1px solid #74819c;
}

.faq__accordion-item button {
  @include primary-400;

  display: block;
  margin: 0 0 20px;
  padding: 20px 40px 0 0;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  color: $color-base;
  background-color: transparent;
  border: none;
  cursor: pointer;

  span {
    display: block;
    width: 240px;
  }
}

.faq__accordion-item p {
  display: none;
}

.faq__accordion-item button[aria-expanded="true"] + p {
  display: block;
  margin: 0 0 20px;
  padding: 0;
  width: 240px;
  font-size: 16px;
  line-height: 20px;
}
