.footer {
  color: $color-primary;
  background-color: #030a1a;
}

.footer__wrapper {
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 103px;
  }
}

.footer__logo {
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 18px 35px;
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    gap: 20px 30px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 20px 83px;
  }
}

.footer__nav-link {
  @include primary-400;

  position: relative;
  color: $color-primary;
  text-decoration: none;

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;

    &:focus-visible {
      outline: 1px solid $bg-base;
      outline-offset: 5px;
    }

    &:hover::after {
      background-color: $bg-base;
    }
  }
}

.footer__nav-link::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  display: block;
  content: "";
  height: 1px;
  background-color: transparent;
  transition: background-color 0.4s ease;
}
