.page {
  height: 100%;
}

.page__body {
  @include primary-font;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}

.page__body main {
  flex-grow: 1;
}
