.request {
  color: $color-primary;
  background-color: $color-base;
}

.request__wrapper {
  padding: 70px 15px;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    min-height: 338px;
    padding: 60px 103px;
    text-align: left;
  }
}

.request__title {
  @include secondary-font;

  margin: 0 0 32px;
  font-size: 32px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    margin: 0 0 31px;
    font-size: 54px;
    line-height: 54px;
  }
}

.request__form-wrapper form {
  @media (min-width: $tablet-width) {
    width: 440px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 477px;
    margin: 0;
  }
}

.request__input-wrapper {
  margin: 0 0 36px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 0 35px;
  }
}

.request__input {
  margin: 0 0 32px;

  @media (min-width: $tablet-width) {
    min-width: 205px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 223px;
  }
}

.request__input input {
  @include primary-400;

  position: relative;
  appearance: none;
  margin: 0;
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid #74819c;
  background: none;
  outline: none;
  font: inherit;
  color: inherit;
  width: 100%;
  cursor: pointer;
  transition: border 0.4s ease;

  @media (min-width: $tablet-width) {
    &:hover {
      border-color: $color-primary;
    }

    &:focus-visible {
      outline: 1px solid $color-primary;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  &::placeholder {
    @include primary-font;

    font-size: 14px;
    line-height: 22px;
    color: #74819c;
  }
}

.request__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 25px 10px;
  }
}
