.tabs__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 30px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (min-width: $tablet-width) {
    width: 310px;
    margin: 0 auto 45px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    margin: 0 auto 40px;
  }
}

.tabs__button {
  @include primary-400;

  position: relative;
  padding: 10px 0 8px;
  font-size: 16px;
  line-height: 16px;
  color: rgba(16, 38, 84, 0.5);
  background-color: $bg-secondary;
  border: none;
  cursor: pointer;
  transition: color 0.4s ease;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;

    &:hover {
      color: rgba(16, 38, 84, 0.7);
    }

    &:focus-visible {
      color: $color-base;
    }

    &:hover::after {
      background-color: #787878;
    }

    &:focus-visible::after {
      background-color: $color-base;
    }
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.3);
  }

  &:disabled::after {
    background-color: rgba(16, 38, 84, 0.3);
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.tabs__button::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  display: block;
  content: "";
  height: 2px;
  background-color: transparent;
  transition: background-color 0.4s ease;
}

.tabs__button--active {
  color: $color-base;
  pointer-events: none;
}

.tabs__button--active::after {
  background-color: #d10a42;
}

.tabs__card-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
