$color-base: #102654;
$color-primary: #ffffff;
$color-secondary: #103aae;

$bg-base: #ffffff;
$bg-primary: #1c3374;
$bg-secondary: #f8f9fc;
$bg-highlight: #ed0233;

$bg-gradient: linear-gradient(90deg, #1C3477 0%, #1C3477 0.01%, #1A3578 39.11%, #73184B 75.5%, #B4022A 100%);
$text-gradient: linear-gradient(127.61deg, #D10A42 0%, #0041CA 45.58%);
$button-gradient: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$tablet-width-only: 1439px;
